.root {
    background-color: white;
    margin: 8px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
    }
}